.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 8vw);
}
.cover {
    grid-column-start:4;
    grid-column-end:10;
}
.actus1 {
    grid-column-start:4;
    grid-column-end:6
}
.actus2 {
    grid-column-start:6;
    grid-column-end:8
}
.actus3 {
    grid-column-start:8;
    grid-column-end:10
}
.img-cover {
    width:100%
}
.img-actus {
    width:100%
}
.actus1 span.color-block {
    background-color:#1c93ee;
    padding:5px
}
.actus2 span.color-block,
.actus3 span.color-block {
    background-color:#c12051;
    padding:5px
}
span {
    color:white;
    font-size: 0.8rem;
    text-transform: uppercase
}
h1 {
    color:#5abdf8;
    text-transform: uppercase;
    font-size:1.5rem
}
h2 {
    text-transform: uppercase;
    font-size:1.2rem;
    margin-bottom:0.8vh
}
h3 {
    text-transform: uppercase;
    font-size:1.2rem;
    margin-bottom:0.8vh
}
p.hook {
    font-weight: bold;
}
p {
    margin:0;
}
.subject {
    margin:0.5rem
}